Thumbs.db
[Bb]in
obj/
*.suo
*.lib
*.sbr
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.resharper
[Db]ebug*/
[Rr]elease*/
_ReSharper*/
*.4.5.resharper.user
[Tt]est[Rr]esult*
*.orig
*.gpState
*-Results.xml
